@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Rubik:wght@300&family=Shantell+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

/*
font-family: 'Mynerve', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Shantell Sans', cursive;
font-family: 'Ubuntu', sans-serif;
*/
* {
    font-family: 'Rubik', sans-serif;
}
